# Compiled JavaScript files
lib/
**/*.js
**/*.js.map

# Except the ESLint config file
!.eslintrc.js

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# secrets
**/keys.json
**/smartrider-4e9e8-service.json

# test shid
gtfs/
gtfs.db
*.log